<%= content_tag_for :li, list do %>
  <% form_for list, remote: true do |f| %>
      <span class="list"><%= list.title %></span>
      <%= link_to list, class: 'removal-link', data: {confirm: 'Are you sure?', method: 'delete'}, rel: 'nofollow', remote: 'true' do %>Remove<% end %>
  <% end %>
<% end %>
