<div class="row">
<%= form_for [task.list, task], action: 'new', remote: true do |f| %>
  <div class="small-10 columns">
  <%= f.text_field :description, placeholder: 'Task description...' %>
  </div>
  <div class="small-2 columns">
  <%= f.submit "Submit", id: 'commit', class: "button prefix" %>
  </div>
<% end %>
</div>
