<div class="row">
  <div class="small-12 small-centered columns"><h1 id="page-title">Tasks!</h1></div>
</div>

<%= render "form", task: @task %>

<div class="row">
  <div class="small-12 columns">
    <ul id="tasks" class="small-12 columns" data-update-url="<%= sort_list_tasks_url %>">
    <% if !@tasks.empty? %>
      <% @tasks.each do |task| %>
          <%= render task %>
      <% end %>
    <% end %>
    </ul>
  </div>
</div>
