<h1>Tasks!</h1>

<% if !@tasks.empty? %>
  <% @tasks.each do |importance, task_group| %>
    <h4 class="<%= importance %>"><%= importance %></h4>
    <ul class="<%= importance%>">
    <% task_group.each do |task| %>
      <li class="task"><%= task.description %></li>
    <% end %>
    </ul>
  <% end %>
<% end %>
