<div class="row">
  <div class="small-12 small-centered columns"><h1 id="page-title">Tasks!</h1></div>
</div>

<%= render "form", task: @task %>

<div class="row">
  <h4 id="task-count" class="small-12 columns"><%= pluralize(@tasks.count, "task") %></h4>
  <div class="small-12 columns">
    <ul id="tasks" class="small-12 columns">
    <% if !@tasks.empty? %>
      <% @tasks.each do |task| %>
          <%= render task %>
      <% end %>
    <% end %>
    </ul>
  </div>
</div>
