#page-title {
  text-align: center;
}

.removal-link {
  margin-left: 10px;
  color: #AAAAAA;
}

li.task {
  &:hover {
    background-color: #DDDDEE;
  }
}

ul {
  list-style-type: none;
}

.completed_task {
  text-decoration: line-through;
  font-style: italic;
  color: #cccccc;
}
